body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.wrapper {
    display: flex;
    margin: auto;
    align-items: center;
}

.circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #ccc;
}

.circle:not(:last-child) {
    margin-right: 10px;
}

.inputs {
    display: flex;
    justify-content: center;
}

input {
    outline: none;
    padding: 10px;
    border: 1px solid blueviolet;
}

.sorted-btn {
    border: none;
    background: blueviolet;
    color: #fff;
    margin-left: 10px;
    padding: 0 15px;
    cursor: pointer;
}
